<button mat-button>click me</button>
<mat-checkbox>click me</mat-checkbox>

<ul>
    <li *ngFor="let traveller of mockTravellers">
        {{traveller.id}} - {{traveller.name}}
    </li>
</ul>

<span>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"
            startView="multi-year"
            >  
        </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</span>

Text Field -> <mat-form-field>
    <input matInput placeholder="Traveller Name">
  </mat-form-field>
  Text Area -> 
  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>
   Select Option -> 
  <mat-form-field>
    <mat-select placeholder="Select">
        <span *ngFor="let traveller of mockTravellers">
            <mat-option value="option"> {{traveller.id}} - {{traveller.name}}</mat-option>
        </span>      
    </mat-select>
  </mat-form-field>
<br> Floating Label <br>
  <mat-form-field>
        <mat-label></mat-label>
        <input matInput placeholder="Just a placeholder">
      </mat-form-field>
<br>Email -     
  <mat-form-field>
    <input matInput placeholder="Enter your email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">Enter Valid Email</mat-error>
  </mat-form-field>
<br> Radio - <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Option 1</mat-radio-button>
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>  
<br> Slider <mat-slide-toggle>Slide me!</mat-slide-toggle>